@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic,"游ゴシック体", "ヒラギノ角ゴ pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
    background-color: rgb(223, 255, 254);
}
/* ヘッダー
------------------------------------ */
header {
    display: flex;
    justify-content: space-between;
    background-color: #0093d0;
    height: 100%;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}
header h1 {
    color: rgb(255, 255, 255);
    padding: 10px 0;
    margin-left: 18px;
}
header p {
    padding: 0px;
    color: white;
    font-size: 22px;
    text-align: center;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 20px 30px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: rgba(0, 0, 0, 0.398);
}
.main-nav a:hover {
    color: rgb(0, 0, 255);
}

/* メイン
------------------------------------ */


img {
    width: 400;
    height: 300px;
    object-fit: cover;
    margin: 50px 20px;
}

h2 {
    color: gray;
    border-left: 5px solid #0093d0;
    padding: 0 10px;
    margin: 30px 20px;
}

/* PROFILE */
.profile {
    display: flex;
}

.profile ul {
    margin: 50px 100px;
    list-style: none;
}
.profile img {
    width: 300px;
    height: 400px;
}
.profile p {
    color: red;
    font-size: 25px;
    margin: 10px 0;
}
p {
    padding: 5px 20px;
}

.prologue p {
    font-size: 20px;
    color: #f37053;
    margin: 30px 0;
}

h3 {
    color: red;
    margin: 30px 20px;
}

.under-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 20px 30px;
    list-style: none;
}
.under-nav li {
    margin-left: 36px;
}
.under-nav a {
    color: rgba(0, 0, 0, 0.398);
}
.under-nav a:hover {
    color: rgb(0, 0, 255);
}
/* フッター
------------------------------------ */
footer {
    background-color: rgb(177, 245, 192);
    text-align: center;
    padding: 26px 0;
    font-size: 0.875rem;
}


/* モバイル版
-------------------------------------*/
@media (max-width: 600px) {
    /* HEADER */
    header {
        width: auto;
        height: auto;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    header h1 {
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
    }

    .main-nav {
        font-size: 60%;
        margin: 10px 0;
    }

    .main-nav li {
        text-align: center;
        margin: 0 10px;
    }

    /* PROFILE */
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .profile img {
        text-align: center;
    }
    .profile ul {
        margin: 0;
    }
    .profile p {
        margin: 0;
    }
    img {
        text-align: center;
        object-fit: cover;
        width: 90%;
        height: 90%;
    }
    h2 {
        padding-left: 10px;
        margin: 10px 0;
    }
    p {
        padding: 0;
    }
    .birth {
        margin-top: 30px;
    }
    .depravity {
        margin-top: 30px;
    }
    .light {
        margin-top: 30px;
    }
    .under-nav {
        font-size: 60%;
        margin: 10px 50px;
        justify-content: space-between;
    }
    .under-nav li {
        margin: 0 10px;
    }
}
